.statusBarList>a.active{
    border-color: #01a982;
    
}
.statusBarList>a{
	border-width: 4px 0 0 0;
	border-color: transparent;
	border-style: solid;
}

.statusBarList>a.active{
    border-color: #01a982;
    
}

.quality_gate_actual{
	min-width:100px;
}
.quality_gate_tips{
  font-size: 13px;
  line-height: 16px;
}
.metric_parcel{
  width:100px;

}
.metric_block{
  background-color: #fff;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  width:324px;
}

.rating{
	  height: 39px;
	  line-height: 39px;
	  font-size: 30px;
	  cursor: pointer;
	  color: rgb(255, 255, 255);
	  width: 30px;
	  text-align: center;
}
.A{
	  border-bottom-color: #0a0;
	  background-color: #0a0;
	 
}
.E{
	  border-bottom-color: rgb(240, 73, 83);;
	  background-color: rgb(240, 73, 83);;
	 
}

.overview-gate-condition-value{
	min-width:30px;

}
.project_panel{
	height:100%;
    /*background-color:rgba(0, 0, 0, 0.02);*/
}
.panel-header{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	border: 1px solid #DCDCDC;
	transition: box-shadow 0.3s ease-in-out;
}

.project_item{
	margin:10px 0;
	box-shadow:0 0 5px 3px rgba(0,0,0,.15);
}
.project_list_panel{

	min-height:100%;
}
.project_list{
	padding:5px 7px;
}
.project_status{
    
	border-left:7px solid rgba(0,0,0,.15);
	border-bottom:none;
}
.ok{
	border-left-color:rgba(239, 74, 84, 1);
}

.all-titles{
	margin:15px 0;
}
.app--name svg:not(:last-child), .app--name img:not(:last-child) {
  margin-right: 12px;
}
.app--name svg,.app--name span  {
	line-height: 24px;
}
.app--name span{
	font-size:20px;
	color: rgba(51, 51, 51,.8);
	text-align: start;
	font-weight: 600;
}
.ci--title svg,.ci--title span  {
	line-height: 24px;
}
.ci--title span{

	font-size:16px;
	color: rgba(51, 51, 51,.5);
	text-align: start;
	font-weight: 600;
}
.ci--title svg,.ci--title span  {
	line-height: 24px;
}
.ci--title svg:not(:last-child), .ci--title img:not(:last-child) {
  margin-right: 12px;
}

.project_item .ci--title:not(last-child){
  margin-right:24px;
}

.continuous-title .ci--title:not(last-child){
  margin-right:34px;
}
.continuous-title .ci--title{
  border-width: 0 0 4px 0;
  border-color: transparent;
  border-style: solid;
  
}
.continuous-title--active .ci--title {
  border-color: #01a982 ;
}
.continuous-title--active{
  text-decoration:none !important;
}
.continuous-title--active span{
  color: rgba(51, 51, 51,1) !important;
}