.statusBarList>a.active{
    border-color: #01a982;
    
}
.statusBarList>a{
	border-width: 0 0 4px 0;
	border-color: transparent;
	border-style: solid;
}

.statusBarList>a.active{
    border-color: #01a982;
    
}
.statusBarList a:not(:last-child){
	margin-right:20px;
}

.status-bar svg{
	margin:0 10px 0 0;
}

.quality_gate_actual{
	min-width:100px;
}
.quality_gate_tips{
  font-size: 13px;
  line-height: 16px;
}
.metric_parcel{
  width:100px;

}
.metric_block{
  background-color: #fff;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  width:350px;
}

.rating{
	  height: 39px;
	  line-height: 39px;
	  font-size: 30px;
	  cursor: pointer;
	  color: rgb(255, 255, 255);
	  width: 30px;
	  text-align: center;
}
.A{
	  border-bottom-color: #0a0;
	  background-color: #0a0;
	 
}
.E{
	  border-bottom-color: rgb(240, 73, 83);;
	  background-color: rgb(240, 73, 83);;
	 
}

.overview-gate-condition-value{
	min-width:30px;

}
.project_panel{
	height:100%;
    /*background-color:rgba(0, 0, 0, 0.02);*/
}
.panel-header{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	border: 1px solid #DCDCDC;
	transition: box-shadow 0.3s ease-in-out;
}

.project_item{
	margin:10px 0;
	box-shadow:0 0 5px 3px rgba(0,0,0,.15);
}
.project_list_panel{

	min-height:100%;
}
.project_list{
	padding:5px 7px;
}
.project_status{
    
	border-left:7px solid rgba(0,0,0,.15);
	border-bottom:none;
}
.ok{
  border-left-color:rgb(1, 169, 130);
}
.warning{
  border-left-color:rgb(255, 209, 68);
}
.critical{
  border-left-color:rgba(239, 74, 84, 1);
}

.all-titles{
	margin:15px 0;
}
.app--name a svg{
  margin-right: 12px;
}
.app--name svg,.app--name a  {
	line-height: 24px;
}
.app--name a{
	font-size:20px;
	color: rgba(51, 51, 51,.7);
	text-align: start;
	font-weight: 600;
}
.ci--title svg,.ci--title span  {
  line-height: 24px;
}
.ci--title svg {
   cursor: inherit;;
}
.ci--title span{

	font-size:16px;
	color: rgba(51, 51, 51,.5);
	text-align: start;
	font-weight: 600;
}
.ci--title svg,.ci--title span  {
	line-height: 24px;
}
.ci--title svg:not(:last-child), .ci--title img:not(:last-child) {
  margin-right: 12px;
}

.project_item .ci--title:not(last-child){
  margin-right:24px;
}

.continuous-title .ci--title:not(last-child){
  margin-right:34px;
}
.continuous-title .ci--title{
  border-width: 0 0 4px 0;
  border-color: transparent;
  border-style: solid;
  
}
.continuous-title--active .ci--title {
  border-color: #01a982 ;
}
.continuous-title--active{
  text-decoration:none !important;
}
.continuous-title--active span{
  color: rgba(51, 51, 51,1) !important;
}

.project--title{
  font-size: 24px;
  color: rgba(51, 51, 51, 1);
  text-align: start;
  font-weight: 600;
}
.project--new--app a>span{
  font-size:16px;
}
.cur_record{
  background-color:rgba(51, 51, 51,0.2);
}
.dashboard--box{
  width:450px;
  height:350px;
  border:1px solid rgba(51, 51, 51,0.2);
}
.dashboard--box--title{
  font-weight:600;
  font-size:24px;
  margin-bottom:20px;
}
.dashboard--highlight{
  color:rgba(51, 51, 51,1);
  font-size:40px;
  line-height:40px;
  font-weight:600;
}
.dashboard--highlight .dashboard--highlight--subTitle{
  color:rgba(51, 51, 51,1);
  font-size:16px;
  line-height:40px;
  font-weight:500;	
}
.dashboard--box .maturity--title{
  font-size:12px;
  color:rgba(51, 51, 51,1);
}
.status--robbin{
  height:45px;
  color: #fff;
}
.status--robbin .status-icon{
  padding:0 5px 0 5px;
}
.status--robbin .status-icon .status-icon__base{
  fill: rgb(255, 255, 255);
}
.status--robbin--critical{
  background-color: #F04953;
}

.status--robbin--critical  .status-icon__detail {
  stroke: #F04953;
  fill: #F04953;
}
.status--robbin--ok{
  background-color: #01a982;
 }
.status--robbin--ok  .status-icon__detail {
  stroke: #01a982;
  fill: #01a982;
}
