<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd 
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-autowire="byName" default-lazy-init="false">


	<!-- For mail settings and future properties files -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<!-- <property name="locations"> <list> <value>classpath:jdbc.properties</value> 
			</list> </property> -->
	</bean>

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="10" />
		<property name="maxIdle" value="6" />
		<property name="minIdle" value="1" />
		<property name="maxWaitMillis" value="5000" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="true" />
	</bean>

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool"
		destroy-method="destroy">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1" type="java.lang.String"
			value="${redis.host}" />
		<constructor-arg index="2" value="${redis.port}" />
	</bean>

	<bean id="dbTemp"
		class="com.hpe.it.sharedservice.devops.platform.utils.mongo.MongoDBTemplate">
		<property name="mongoServer" value="${jdbc.mongo.mongoServer}" />
		<property name="serverPort" value="20001" />
		<property name="dbName" value="${jdbc.mongo.dbName}" />
		<property name="userName" value="${jdbc.mongo.userName}" />
		<property name="password" value="${jdbc.mongo.password}" />
	</bean>

	<bean id="jenkinsService"
		class="com.hpe.it.sharedservice.devops.platform.service.JenkinsService">
	</bean>

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />
	<context:component-scan base-package="com.hpe.it.sharedservice.devops.platform.**"></context:component-scan>
</beans>
